@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Montserrat:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
  --brown: #B06A38;
  --blue: #87CEEB;
  --gray: rgb(35,35,35);
  --green: #A8E476;
}

*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
html,body {
  margin: 0;
  padding: 0;
  background-color: rgb(22,22,22);
  width: 100vw;
  color: white;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
  overflow-x: hidden;
}
section{
  width: 90%;
  max-width: 1168px;
  margin: auto;
  height: 100%;
}
.exit{
  position: fixed;  
  top: 50px;
  left: 50px;
  width: auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 1.8em;
}
.goback{
  font-family: "Montserrat";
  color: var(--brown);
}
.gobackImage{
  width: 25px;
  height: 40px;
}
a{
  text-decoration: none;
}
#video-playing video {
  width: 100%;
  object-fit: cover;
}
#content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  font-size: 2em;
  font-family: Lexend;
  background-color: transparent;
  margin-bottom: 100px;
}
#content > div {
  width: 100%;
}
#title{
  font-size: 6em;
  margin-bottom: 50px;
  color: var(--brown);
  font-family: "Monomaniac One", sans-serif;
}
.info-container{
  display: grid;
  grid-template-columns: repeat(2,559px);
  column-gap: 50px;
  margin-bottom: 50px;
}
.info-container > div {
  background-color: var(--gray);
  padding: 30px;
  border-radius: 15px;
}
.title-info {
  font-size: 1.7em;
  margin-bottom: 15px;
  color: var(--blue);
}
ul {
  list-style: none;
}
.strong{
  font-size: 1.1em;
  color: var(--green);
}
.title-sections {
  font-size: 1.5em;
  margin-bottom: 35px;
}
p, li {
  font-weight: 300;
}
