@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Montserrat:ital,wght@0,500;1,500&display=swap');


*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
html,body {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
}
#introduction {
  width: 100%;
  height: 100vh; /* Set the height of the parent to the full viewport height */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about {
  height: 100vh;
}
#text-container {
  min-width: 1px;
  max-width: 12%;
  font-size: 2em;
  text-align: center;
}
#name{
  font-size: 1.65em;
  font-family: "Montserrat Subrayada", sans-serif;  
  font-weight: 400;
  color: skyblue;
}
#dev-container {
  display: flex;
  width: 80%;
  margin: 0 10%;
  font-family: "Montserrat", sans-serif;
}
#dev {
  flex: 1;
}
#dynamic-container {
  min-width: 66.5px;
}
.typed-cursor{
  opacity: 1;
  color: skyblue;
}
#rectangle {
  position: absolute;
  width: 445px;
  height: 445px;
  transform: rotate(45deg);
  flex-shrink: 0;
  border: 2px solid skyblue;
}
#navbar{
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  align-items: center;
  padding-right: 20px;
  color: white;
  min-width: 144px;
  width: 7.5%;
  z-index: 9999;
}
#nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.links-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  border-radius: 40px;
  padding: 10px 15px 10px 10px;
  gap: 10px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  width: 100%;
}
.nav-images{
  margin-left: 5px;
  min-width: 18px;
  max-width: 30%;
}
.labels{
  text-align: center;
  color: white;
  flex: 1;
}
