@font-face {
  font-family: Lexend-Semibold;
  src: url(Lexend-SemiBold.ttf);
}
body{
  background-color: black;
}
.main-screen{
  width: 100%;
  height: 100vh;
  color: white;
  font-size: 62.5%;
  font-family: Lexend-Semibold;
  display: flex;
}
.text-container{
  display: flex;
  width: 50%;
  font-size: 8em;
  align-items: center;
  height: 100%;

}
.text{
  margin-left: 150px;
  width: 100%;
}
.name{
  margin-bottom: 0px;
}
.dev-container{
  display: flex;
  width: 100%;
}
.dev{
  flex: 1;
 }
.dynamic-container{
  width: 275px;
}
.dynamic-txt{
  color: #E8A221;
}
.typed-cursor{
  opacity: 1;
  color: #E8A221;
}
.image-div{
  position: relative;
  width: 50%;
}
.image{
  width: 250px;
  position: absolute;
  left:50%;
  right: 50%;
  margin: 0 -50px 0 -50px;
  bottom: 0%;
}
.stickycontact{
  position: fixed;
  right: 3%;
  top: 4%;
  font-size: 1.5em;
  font-weight: bold;
  background-color: rgb(155, 61, 150);
  color:#E8A221;
  border-radius: 40px;
  cursor: pointer;
  padding: 15px;
  border: 0;
  z-index: 9999;
}